/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.like-custom {
  cursor: pointer;
  color: lightgrey;
  font-size: 25px;
  display: inline-block;
}

.clearfix {
  clear: both;
}

.favorite {
  color: #D64541;
}

.logo {
  color: #6C7A89;
}

.logo-font {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}

.logo-symbol {
  vertical-align: top;
  font-size: 20px;
}

.well-custom {
  padding: 10px;
}